---
# roles/longhorn/templates/_longhorn_rwx_sc.yaml.j2

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-rwx
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "{{ k8s_plugin_longhorn_default_class_replica_count | default(1) | string }}"
  staleReplicaTimeout: "30"
  fsType: "ext4"
  nfsSupported: "true"
