---
# roles/plugin/templates/devops-openproject-helm-values.yaml.j2

{# ansible localhost -m template -a "src=roles/plugin/templates/devops-openproject-helm-values.yaml.j2 dest=/tmp/devops-openproject-values.yaml" #}

{%- set app_host = k8s_plugin_openproject_ingress_host | default('openproject.localdomain') %}
{%- set tls_enabled = k8s_plugin_openproject_ingress_tls_enabled | default(true) | bool %}
{%- set secret_name = k8s_plugin_openproject_ingress_tls_secret | default('mkcert-wildcard-tls') %}

image:
  imagePullPolicy: "{{ k8s_plugin_openproject_image_pull_policy | default('IfNotPresent') }}"

deployment:
  replicas: {{ k8s_plugin_openproject_replicas | default(1) }}

openproject:
  hostName: "{{ k8s_plugin_openproject_ingress_host | default('openproject.localdomain') }}"
  https: {{ k8s_plugin_openproject_ingress_tls_enabled | default(true) | lower }}
  seed: "{{ k8s_plugin_openproject_seed | default('super-secret-seed-phrase') }}"
  passwordSecret: "{{ k8s_plugin_openproject_existing_secret | default('openproject-passwords') }}"
  passwordSecretKey: "admin-password"

postgresql:
  auth:
    existingSecret: "{{ k8s_plugin_openproject_existing_secret | default('openproject-passwords') }}"
    secretKeys:
      userPasswordKey: "password"
      adminPasswordKey: "password"
  persistence:
    storageClass: "{{ k8s_plugin_openproject_storage_class | default('longhorn') }}"
    size: "{{ k8s_plugin_openproject_postgres_volume_size | default('10Gi') }}"

persistence:
  storageClass: "{{ k8s_plugin_openproject_storage_class | default('longhorn') }}"
  size: "{{ k8s_plugin_openproject_data_volume_size | default('20Gi') }}"

ingress:
  enabled: true
  ingressClassName: "{{ k8s_plugin_openproject_ingress_class | default('traefik') }}"
  host: "{{ k8s_plugin_openproject_ingress_host | default('openproject.localdomain') }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "{{ 'web,websecure' if k8s_plugin_openproject_ingress_tls_enabled | default(true) else 'web' }}"
{% if k8s_plugin_openproject_ingress_tls_enabled | default(true) %}
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k8s_plugin_traefik_namespace | default('traefik-system') }}-{{ k8s_plugin_traefik_middleware | default('redirect-https') }}@kubernetescrd"
  tls:
    enabled: true
    secretName: "{{ k8s_plugin_openproject_ingress_tls_secret | default('mkcert-wildcard-tls') }}"
    extraTls:
      - secretName: "{{ k8s_plugin_openproject_ingress_tls_secret | default('mkcert-wildcard-tls') }}"
        hosts:
          - "{{ k8s_plugin_openproject_ingress_host | default('openproject.localdomain') }}"
{% endif %}

