---
# roles/longhorn/templates/longhorn-values.yaml.j2

{# ansible localhost -m template -a "src=roles/plugin/templates/longhorn-helm-values.yaml.j2 dest=/tmp/longhorn-values.yaml" #}

{%- set tls_enabled = k8s_plugin_longhorn_ingress_tls_enabled | default(true) | bool %}

persistence:
  defaultClassReplicaCount: {{ k8s_plugin_longhorn_default_class_replica_count | default(2) | int }}

defaultSettings:
  defaultDataPath: "{{ k8s_plugin_longhorn_data_path | default('/var/lib/longhorn') }}"

ingress:
  enabled: {{ k8s_plugin_longhorn_ingress_enabled | default(true) | bool }}
  ingressClassName: {{ k8s_plugin_longhorn_ingress_class_name | default('traefik') }}
  host: {{ k8s_plugin_longhorn_ingress_host | default('longhorn.localdomain') }}
  annotations:
    # 1. Always include websecure if TLS is on
    traefik.ingress.kubernetes.io/router.entrypoints: "{{ 'web, websecure' if tls_enabled else 'web' }}"
{% if tls_enabled %}
    # 2. Only apply the redirect middleware if TLS is actually enabled
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k8s_plugin_traefik_namespace | default('traefik-system') }}-{{ k8s_plugin_traefik_middleware | default('redirect-https') }}@kubernetescrd"
{% endif %}
  # Set to true to enable TLS for Ingress.
  tls: {{ tls_enabled | lower }}
{% if tls_enabled %}
  tlsSecret: "{{ k8s_plugin_longhorn_ingress_tls_secret | default('mkcert-wildcard-tls') }}"
{% endif %}
